<div class='container'>
    <h1>Movie Details</h1>
    <div class='table1'>
        <table>
            <thead>
            <tr>
                <th>Movie Poster</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="" alt="..." class="img-rounded"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class='table2'>

        <table class='table'>
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Name:</td>
                <td>{{movie.Title}}</td>
            </tr>
            <tr>
                <td>Actors:</td>
                <td>{{movie.Actors}}</td>
            </tr>
            <tr>
                <td>Director:</td>
                <td>{{movie.Director}}</td>
            </tr>
            <tr>
                <td>Writers:</td>
                <td>{{movie.Writer}}</td>
            </tr>
            <tr>
                <td>Plot:</td>
                <td>{{movie.Plot}}</td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>{{movie.Type}}</td>
            </tr>
            <tr>
                <td>Year:</td>
                <td>{{movie.Year}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>